// @font-face
//     font-family: Modeno
//     src: url('/static/fonts/Modeno.ttf') format('truetype')

.clear
    clear: both
.hidden
    display: none
.bold
    font-weight: bold
.left
    float: left
.right
    float: right
a:hover, a:visited
    color: #08C